/* Project Section */

#projects {
  background: #e9fdfb;
}

#projects .card {
  width: 24rem;
  min-height: 600px;
}

#projects .card-img {
  width: 100%;
  height: 206.66px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#projects .card-img > img {
  object-fit: contain;
  max-height: 100%;
}

#projects h3 {
  font-family: "Merriweather";
  font-weight: bold;
  color: #4d8d74 !important;
}
#projects .card-title {
  font-family: "Merriweather";
  font-weight: bolder;
  color: #4d8d74 !important;
}
#projects .card-text {
  font-family: "Merriweather";
  color: #4d8d74 !important;
}

#projects a {
  background: #1cd0c6;
}

.carousel-control-prev-icon {
  background-color: #1cd0c6;
}

.carousel-control-next-icon {
  background-color: #1cd0c6;
}

/* Tools Section */

#tools {
  font-family: "Merriweather";
  color: #ffffff;
  background: #1cd0c6;
}

#tools h3 {
  font-weight: bold;
}

/* Contact Section */

#contact {
  background: #e9fdfb;
}

#contact h3 {
  font-family: "Merriweather";
  font-weight: bold;
  color: #4d8d74 !important;
}

#form-col {
  background-color: #1cd0c6;
  color: #ffffff;
  font-family: "Merriweather";
  font-weight: bold;
}

#form-col button {
  background-color: #e9fdfb;
  color: #4d8d74;
  font-family: "Merriweather";
  font-weight: bold;
  border: solid 1px #4d8d74;
}

#contact iframe {
  border: solid 3px #4d8d74;
  border-radius: 8px;
}

.icons {
  width: 40px;
  height: 40px;
}

/* Footer Section */

footer {
  font-family: "Merriweather";
  background-color: #4d8d74;
  color: #ffffff;
}
